@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  background-color: rgb(37, 37, 37);
  font-family: "Open Sans", sans-serif;
}

@theme {
  --breakpoint-2md: 55rem;
  --breakpoint-xs: 30rem;
  --breakpoint-2xs: 20rem;
}
